# Archivos y carpetas generadas por Unity
Library/
Temp/
Logs/
obj/
UserSettings/
Assets/BOKI/
Assets/**/Terrain/data/

# Archivos de compilación
*.csproj
*.sln
*.userprefs
*.pidb
*.suo
*.tmp
*.bak
*.swp
*.lock

# Compilaciones
Builds/

# Archivos específicos de Unity
*.unitypackage

# Configuración de JetBrains Rider
.idea/